*.class
**/target
bin/
dist
**/logs
products
repository
workspace
*~
target/
target-ide
.classpath
.project
.settings/
.checkstyle
MANIFEST.MF
xtend-gen
yang-gen-config
yang-gen-sal
classes
out/
.DS_STORE
.metadata
*.swp
C\:\\nppdf32Log\\debuglog.txt
*.pyc
.idea
*.iml
maven-metadata-local.xml
