[access]
	inheritFrom = All-Projects
[project]
	description = Fabric as a service
[receive]
	requireChangeId = true
[access "refs/*"]
	owner = group ldap/gerrit-faas-committers
	read = group GitHub Replication
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/stable/carbon:refs/heads/stable/carbon
